/* react-select overrides to match Bootstrap dark theme */
.react-select__single-value {
  color: #bcbfc4 !important;
}
.react-select__input-container {
  color: #bcbfc4 !important;
}
.react-select__control {
  color: #bcbfc4 !important;
  background-color: #253241 !important;
  border-color: #505b66 !important;
}
.react-select__menu {
  border: #505b66 solid 1px;
}
.react-select__menu-notice {
  color: #bcbfc4 !important;
  background-color: #253241 !important;
}
.react-select__menu-list {
  background-color: #253241 !important;
}
.react-select__option {
  color: #bcbfc4 !important;
  background-color: #253241 !important;
  padding-top: 0.3rem !important;
  padding-bottom: 0.3rem !important;
}
.react-select__option--is-focused {
  background-color: #3a4653 !important;
}
.react-select__option--is-selected {
  background-color: #3b7ee2 !important;
  color: #fff !important;
}
.react-select__group {
  padding: 0 !important;
}
.react-select__multi-value {
  background-color: #19222c !important;
}
.react-select__multi-value__label {
  color: var(--bs-secondary-bg-rgb) !important;
}
