__pycache__
*.sqlite3
.misc/
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
static/dist/index.js
static/dist/index.js.map
collected/
static/dist/*
*.env
log_files/*
/staticfiles/**
/media/**
.postgresql

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
