version: "3.9"

services:
  django_app:
    image: mm-class-searcher-image
    container_name: mm-class-searcher
    build:
      context: .
      args:
        ENV_TYPE: dev
        UID: 1000
    command: >
      bash -c "
      trap 'echo SIGTERM received, shutting down...; exit' SIGTERM;
      while true; do
        sleep 1;
      done
      "
    tty: true
    user: "1000"
    ports:
      - 8030:8000
    volumes:
      - /app/node_modules
      - ./:/app
    env_file:
      - .dev.env
    restart: unless-stopped
    depends_on:
      - psql
      - redis

  psql:
    image: postgres:15.7
    container_name: mm-psql-class-searcher
    restart: always
    # set shared memory limit when using docker-compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    env_file:
      - .dev.env
    ports:
      - 8031:5432
    volumes:
      - ./.postgresql/data:/var/lib/postgresql/data
      - ./.postgresql/backups:/app/backups
  adminer:
    image: adminer
    container_name: mm-adminer-class-searcher
    environment:
      ADMINER_DEFAULT_SERVER: psql
    restart: always
    ports:
      - 8032:8080

  # redis-overcommit-on-host
  redis-overcommit:
    build: https://github.com/bkuhl/redis-overcommit-on-host.git
    restart: "no"
    privileged: true
    volumes:
      - /proc/sys/vm:/mnt/vm

  redis:
    image: redis
    container_name: redis-class-searcher
    command: sh -c 'redis-server --requirepass "$$REDIS_PASSWORD"'
    env_file:
      - .dev.env
    restart: unless-stopped

  rq_worker_default:
    image: mm-class-searcher-image
    container_name: class-searcher-rq-worker-default
    command: poetry run python manage.py rqworker default
    user: "1000"
    volumes:
      - ./:/app
    env_file:
      - .dev.env
    restart: unless-stopped
    depends_on:
      - django_app
